<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Edge и ряд мобильных браузеров слишком умны. Отключим это. -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="google" content="notranslate" />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />

    <meta property="og:image" content="image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="description" content="" />
    <meta property="og:description" content="" />

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:title" content="" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
